/* .guidCard {
    height: 350px;
} */
.guidCard svg {
    height: 50px;
}
.guidContent {
    box-shadow: 0px 0px 10px 0px #ddd;
    margin: 15px 0px;
    padding: 1rem;
    border-radius: 3px;
    border-top: 3px solid #00c194;
    background-color: #fff;
    height: 100%;
}

.guidCard h4 {
    font-size: 18px;
}
.btnPrimary {
    background-color: #00c194;
    padding: 1px 10px;
    border-radius: 3px;
}
.btnPrimary a {
    color: #fff;
}

.topPropertyContainer {
    padding: 5rem 3rem;
}

.topPropertyHeading {
    color: #000;
    text-align: center;
}
.propertyListCard {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ddd;
    transition: all 0.3s ease-in-out;
}
.propertyListCard .propertyListCardImage {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.propertyListCardContent {
    margin-left: 1rem;
    flex: 1;
}

.propertyListCardContent a {
    color: #000000;
}
.propertyListCardContent .rate {
    color: #9f9f9f;
    padding-right: 1rem;
}
.propertyListCardContent .rate .price {
    color: #00c194;
}

.propertyListCard:hover {
    /* background-color: #f8f8f9; */
    border: 1px solid #00c194;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.heroSectionContentContainer {
    margin-bottom: 2rem;
}
.heroSectionContentContainer h2 {
    color: #000000;
    text-transform: capitalize;
    font-weight: 500;
}
.heroSectionContentContainer .btnGreen {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #00c194;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}
.heroSectionContentContainer .btnGreen:after {
    background: #ffffff;
}
.heroSectionContentContainer .btnGreen:hover {
    background: transparent;
    color: #00c194;
}

.heroSectionContentContainer button:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0rem;
    bottom: -1rem;
    border-top-right-radius: 100%;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}
.heroSectionContentContainer button:hover:after {
    width: 180px;
    height: 100px;
}

.heroSectionContentContainer .btnGreenOutline {
    padding: 0.5rem 1.5rem;
    border: 1px solid #00c194;
    border-radius: 5px;
    background-color: #fff;
    color: #00c194;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}
.heroSectionContentContainer .btnGreenOutline:hover {
    background: transparent;
    color: #ffffff;
}
.heroSectionContentContainer .btnGreenOutline:after {
    background: #00c194;
}